{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% block title%}Update Trooper{% endblock %}

{% block page_header %}Update Trooper{% endblock %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Leaves Form</h6>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary btn-user btn-block">
        </form>
    </div>
</div>


{% endblock %}


