{% extends 'base/base_prelogin.html' %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% block title%}Reset Password{% endblock %}

{% block content %}

<!-- Nested Row within Card Body -->
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Forgot your password?</h1>
                <p>
                    Enter your email address below to reset your password. We will send you instructions to reset your password.
                </p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% render_field form.email placeholder="Email" class+="form-control form-control-user" %}
      
                <br>
                <input type="submit" class="btn btn-primary btn-user btn-block">
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'login_user' %}">Remember your password? Login!</a>
            </div>
            <div class="text-center">
                <a class="small" href="{% url 'register' %}">Create a new Account!</a>
            </div>
        </div>


{% endblock %}